/*
https://colorhunt.co/palette/e3fdfdcbf1f5a6e3e971c9ce
*/

/*animation*/
.gradient-background {
    background: linear-gradient(300deg,  #E3FDFD, #71C9CE, #CBF1F5, #f5b3ea);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
/*element styles*/
hr {
    display: flex;
    align-self: center;
    border-style: none;
    border-top-style: dotted;
    border-color: #71C9CE;
    border-width: 12px;
    width: 60px;
    height: 0px;
    background-color: rgba(0,0,0,0);
    margin: 100px 100px;
}

/*class styles*/
.top-container{
    padding-top: 5rem;
    background-color: #A6E3E9;
    margin-top: 0;
}

.theme-primary{
    background-color: #71C9CE;
}

.theme-text-primary{
    color: #71C9CE;
}

.theme-secondary{
    background-color: #A6E3E9;
}

.circle{
    border-radius: 50%;
}

.feature-icon-primary{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: #71C9CE;
    border-radius: 0.75rem;
}

.feature-icon-primary-small{
    width: 3.5rem;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: #71C9CE;
    border-radius: 0.75rem;
}

.feature-icon-primary img{
    width: 5rem;
    height: 5rem;
}

.feature-icon-primary-small img{
    width: 3rem;
    height: 3rem;
}

.hr-center{
    display: flex;
    align-items: center;
    justify-content: center;
}